# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# uv
.python-version

# xtalkit output files
*_WYCK.cif
*_WYCK.xyz
*_WYCK.vesta
SG*_skeleton.cif
SG*_skeleton.xyz
SG*_skeleton.vesta

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
